/**
 * .yform-adminer-test1: Wert aus be_style/plugins/redaxo/scss/_variables.scss
 * .yform-adminer-test2: Wert aus be_style/plugins/redaxo/scss/_variables_dark.scss
 * .yform-adminer-test3: Wert aus be_style/vendor/font-awesome/scss/_variables.scss
 */
.yform-adminer-test1 {
    margin: $padding-base-vertical $padding-base-horizontal; /* soll: 6px 12px */
}
.yform-adminer-test2 {
    color: $dark-brand-warning; /* soll: #78641e; */
}

.yform-adminer-test3:after {
    content: unquote("\"#{ $fa-var-times-circle }\"");
}